:root {
    --primaryColor: red;
}
div.cursor div {
    position: absolute;
    top: 300px;
    left: 300px;
    width: 32px;
    height: 32px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    mix-blend-mode: difference;
}

div.cursor div span {
    mix-blend-mode: normal;
}

.morph:hover ~ div.cursor div {
    /*THIS SHOULD GO BIG AND GREY BUT IT IS NOT.  */
    cursor: none;
    --primaryColor: grey;
    transform: scale(6);
}

.no-cursor {
    cursor: none;
}

div.cursor div span {
    position: absolute;
    top: 0;
    left: 40px;
    width: 300px;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    color: red;
    line-height: 20px;
}

.hover-this {
    transition: all 0.3s ease;
}
/*.hover-this:hover ~ div.cursor {*/
/*    transform: translate(-50%, -50%) scale(8);*/
/*}*/

.link-grow {
    transform: scale(2);
    background-color: grey;
}

