*{
    scroll-behavior:smooth;
    cursor: none !important;
}

.larabar {
    background-color: black;
}

.larabar a {
    color: red;
}

.larabar-about {
    background-color: #D6C099;
}

.larabar-about a, div {
    color: black;
}

.fs-xs {
    min-height: 20px;
}

.fs-s {
    min-height: 50px;
}

.fs-m {
    min-height: 120px;
}

.fs-l {
    min-height: 400px;
}

.fs-xl {
    min-height: 1000px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

.navbar-name {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
    color: red;
}

.header-laravel {
    text-align: left;
    justify-content: center;
    font-size: 1500%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -15px;
    line-height: 220px;
}

.header-about {
    text-align: left;
    justify-content: center;
    font-size: 1500%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -15px;
    line-height: 170px;
}

.header-post {
    text-align: left;
    justify-content: center;
    font-size: 800%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -9px;
    line-height: 115px;
}

.content-post {
    text-align: left;
    justify-content: center;
    font-size: 300%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -6px;
    line-height: 100px;
}

.header-register {
    text-align: right;
    font-size: 1500%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -15px;
    line-height: 250px;
}

.header-l {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -2px;
}

.header-r {
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -2px;
}

.header-center {
    text-align: left;
    justify-content: center;
    font-size: 600%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -8px;
    line-height: 100px;
}

.header-center-s {
    text-align: left;
    justify-content: center;
    font-size: 400%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -4px;
    color: black;
}

.header-center-xs {
    text-align: left;
    justify-content: center;
    font-size: 300%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -4px;
    color: black;
}

.header-active {
    -webkit-transition: color .5s;
    transition: color .5s;
}
.header-active:hover {
    color: red;
}

.hover-change {
    color: #232323;
    -webkit-transition: color 1s;
    transition: color 1s;
}
.hover-change:hover {
    color: red;
}

.hover-change-red {
    color: darkred;
    -webkit-transition: color 1s;
    transition: color 1s;
}

.hover-change-red:hover {
    color: black;
}

.styled-font {
    text-align: left;
    letter-spacing: -1.5px;
    line-height: 100px;
    font-family: 'Montserrat', sans-serif;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: red;
    line-height:100px;
}

.form-control {
    max-width: 90%;
}

.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}

.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

}

.nav-links {
    margin-top: 2%;
    justify-content: space-between;
    display: flex;
    list-style: none;
}

.nav-links a {
    margin-left : 2.2em;
    margin-right : 2.2em;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.body-l {
    min-height: 2500px;
}

.body-m {
    min-height: 800px;
}
/* Setting fade transition and default settings */
.main {
    background-image: linear-gradient(180deg,
    whitesmoke 10%,
    black 35%,
    black 100%
    );
}

.main-red {
    background-image: linear-gradient(180deg,
    whitesmoke 35%,
    red 35%,
    red 100%
    );
}

.main-dark {
    background-image: linear-gradient(180deg,
    black 35%,
    red 35%,
    red 100%
    );
}

.posts-bg {
    min-height: 2200px;
    background: black;
}

section.about p {
    max-width: 35em;
}

.header-centered {
    text-align: center;
    justify-content: center;
    font-size: 800%;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -6px;
    line-height: 100px;
}
.header-centered-s {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    font-size: 300%;
    font-family: 'Montserrat', serif;
    letter-spacing: -3px;
    top: -10px  ;
}

.header-about {
    /*font-family: 'Cormorant', serif;*/
    font-size: 1000%;
    letter-spacing: -12px;
}

.header-about2 {
    /*font-family: 'Cormorant', serif;*/
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    font-size: 1000%;
    letter-spacing: -12px;
}

.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.spectral-l {
    /*font-family: 'Cormorant', serif;*/
    font-family: 'Spectral', serif;
    font-size: 1000%;
    letter-spacing: -12px;
    margin-top: -2%;
}

.spectral-s {
    /*font-family: 'Cormorant', serif;*/
    font-family: 'Spectral', serif;
    font-size: 220%;
    letter-spacing: -3px;
    margin-top: -2%;
}

.spectral-xs {
    /*font-family: 'Cormorant', serif;*/
    font-family: 'Spectral', serif;
    font-size: 140%;
    letter-spacing: -2px;
    margin-top: -2%;
}

.beige {
    background-color: #D6C099;
    min-height: 1080px;
}

.black {
    background-color: black;
    min-height: 1080px;
}

.red {
    background-color: red;
    min-height: 1080px;
}

.white {
    background-color: white;
    min-height: 1080px;
}

.blue {
    background-color: #1F2B8F;
    min-height: 1080px;
}

section {
    padding: 40px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.card {
    background: url("../image/me.png") no-repeat;
    background-size: cover;
    min-height: 600px;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    position: absolute;
    color: #fff;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
}
.card:hover .content {
    transform: translateZ(12px);
}
.card::before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.content {
    color: whitesmoke;
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
}
